@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
:root{
  --primary-color: #206fad;
  --primary-color-dark: #155586;
  --primary-color-green: #619735;
  --primary-color-green-dark: #446e22;
  
  --color-note: #ffff64;

  --gray-one: #cecece;
  --gray-two: #afafaf;
  --gray-three: #858484;

  --white: #fff;
  --black: #000;

  --primary-font: 'Poppins' sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}
h1{
  font-family: var(--primary-font);
  font-size: 40px;
}
.header {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: 100px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 2;
  position: fixed;
}
.header .logo {
  display: flex;
  flex-direction: row;
}
.header .logo img {
  max-height: 80px;
}
.header .logo .text {
  max-height: 60px;
}
#menu-hamburger {
  z-index: 5;
  position: fixed;
  margin-top: 25px;
  margin-left: 25px;
  height: 50px;
  width: 50px;
  border: none;
  background-color: transparent;
  transform: scale(2);
}
#menu-hamburger:hover {
  transform: scale(2.1);
}
.menu {
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 30px;
  display: none;
  background-color: var(--primary-color);
  flex-direction: column;
  min-width: 300px;
  height: 100vh;
  z-index: 4;
  position: absolute;
  align-items: center;
  color: var(--white);
  position: fixed;
}
.menu img {
  min-height: 250px;
}
.menu nav ul a {
  color: var(--white);
  font-size: larger;
}
.menu nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu nav ul li {
  padding: 10px;
}
.menu nav ul li:hover {
  transform: scale(1.1);
}
.menu button {
  width: 200px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-color-green);
  padding: 10px;
  margin-top: 100px;
  color: var(--white);
}
.menu button:hover {
  transform: scale(1.1);
  transition: all 300ms ease-in-out;
}
.container {
  padding: 50px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}
#credentials{
  display: flex;
  flex-direction: column;
}
.container img {
  height: 500px;
}
.login {
  padding: 10px;
  height: calc(100vh - 100px);
  width: 800px;
}
.login h1 {
  padding-top: 30px;
}
.login .form {
  display: flex;
  flex-direction: column;
}
.login .form h3 {
  padding: 10px 0px
}
.login .form .input {
  padding: 3px;
  width: 100%;
  height: 35px;
}
.login .form .input-text{
  padding: 3px;
  width: 100%;
  height: 50px;
}
.login-buttom {
  padding: 10px;
  width: 195px;
  height: 45px;
  border: none;
  background-color: var(--primary-color);
  margin-top: 20px;
}
.login-buttom:hover {
  background-color: var(--primary-color-dark);
  transition: all 300ms ease-in-out;
  transform: scale(1.1);
}
.login .register {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.login .register h2 {
  padding-top: 30px;
}
.login .register button {
  padding: 10px;
  width: 195px;
  height: 45px;
  border: none;
  background-color: var(--primary-color-green);
  margin-top: 20px;
}
.login .register button:hover {
  background-color: var(--primary-color-green-dark);
  transition: all 300ms ease-in-out;
  transform: scale(1.1);
}
.password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.password .input{
  width: 300px;
}
.section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bg-blue {
  background-color: var(--primary-color);
  color: var(--white);
}
.bg-white {
  background-color:var(--white);
}
.footer{
  margin-bottom: 0;
  height: 100px;
  background-color: var(--primary-color);
  position: relative;
}
#contact-us .login h1{
  margin: 0 auto;
  font-weight: bolder;
  font-size: 30px;
}
#send-buttom{
  margin-right: 0;
}
#send-buttom-text{
  background-color: var(--primary-color-green);
}
.line-chart{
  width: 100%;
  height: 100%;
}
.content{
  margin-top: 100px;
  max-width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.pacients-buttom{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
  background-color: var(--primary-color-dark);
  color:var(--white);
}
.pacients-buttom:hover{
  transform: scale(1.02);
}
.new-pacient{
  padding: 10px;
  margin: 10px;
  background-color: var(--primary-color-green);
  border: none;
  height: 65px;
  width: 200px;
}
.pacients{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-pacients{
  	margin: 10px;
  	height: 100%;
  	width: 100%;
  	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  	gap: 1rem;
}	
.pacient{
	border-radius: .4rem;
    margin: 0px ;
    background-color: var(--gray-two);
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    transition: all 300ms ease-in-out;
}
.pacient:hover{
  transform: scale(1.02);
}
.pacient h1{
  font-size: larger;
  padding: 0px;
}
.pacient img{
	margin: 10px;
  width: 200px;
  border-radius: 50%;
  background-color: var(--gray-one);
}
.pacient-footer{
	margin-bottom: 0;
	padding-bottom: 5px;
	background-color: var(--primary-color-dark);
	height: 40px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#img{
  max-height: 100px;
}
.pacient-view {
  border-radius: 20px;
  min-height: 1500px;
  width: 100%;
  background-color: var(--gray-one);
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.pacient-view img{
  margin-top: 20px;
  max-width: 100px;
  margin-left: 100px;
}
.ig{
  display: flex;
  align-items: center;
}
.ig h1{
  font-family: var(--primary-font);
  font-size: 30px;
  font-weight: bold;
  padding: 0 10px;
}
.ig h6{
  font-family: var(--primary-font);
  padding: 0 10px;
}
.pacient-view .details{
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.pacient-view .details ul li:hover{
  background-color: var(--primary-color-dark);
}
.btn{
  margin-left: 10px;
  margin-right: 10px;
  max-height: 100px;
  max-width: 200px;
}
.pacient-view .line-chart{
  max-width: 800px;
  max-height: 300px;
}
.batiments{
  height: 400px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.notes{
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.note-content{
  border-radius: 20px ;
  min-height: 300px;
  width: 75%;
  background-color: var(--color-note);
  padding: 0 50px;
}
.note-header{
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
@media (max-width: 480px) {
  .text{
    display: none;
  }
  .pacient-view img{
    margin-left: 5px;
  }
  .content{
    flex-direction: column;
  }
  .pacient-view .details{
    display: block;
    padding: 0;
  }
  .login{
    width: 300px;
  }
  .password .input{
    max-width: 110px;
  }
  .container img {
    height: 300px;
  }
}